# Ignore the virtual environment
myenv/

# Ignore Task.py file
Task.py

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variable files
.env
*.env

# Ignore IDE specific files (if you're using any IDE like PyCharm or VSCode)
.idea/
.vscode/

# Ignore the Flask app's instance folder (if used)
instance/

# Ignore log files
*.log

# Ignore coverage reports
.coverage
*.cover

# Ignore other potential system files
.DS_Store
Thumbs.db
